#card__button{
  display: flex;
  justify-content: center;
}
.template__card__button{
  margin-right: 5px;
  border: none;
  outline: none;
  height: fit-content;
  padding: 10px 12px;
  border-radius: 4px;
  font-size: 12pt;
  text-decoration: none;
  color: #1e1e1e;
}
.rightArrow__icon{
  
}